.Pagination > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.Pagination > ul > li {
  height: fit-content !important;
  margin: 10px !important;
  cursor: pointer !important;
  font-weight: 700 !important;
}

.Pagination p {
  font-size: 25px;
  font-weight: 900;
  color: blue;
  height: fit-content !important;
}
.Pagination > ul > li:hover {
  color: aqua;
}
